@model Product

@{
    ViewData["Title"] = "Details";

    string priceFormat = $"{Model.Price,0:C0}";
}

<h1>Details</h1>

<div>
    <a asp-action="Index" class="btn btn-outline-primary my-3">Back to home</a>
    <div class="row">
        <div class="col-4">
            <div class="image-wrapper-details m-0 rounded">
                <img alt="@Model.ImageUrl" src="~/images/product/@Model.ImageUrl">
            </div>
        </div>
        <div class="col-7 offset-1">
            <h2 class="mb-3">@Model.Name</h2>
            <span class="category-label">@Model.Category.Name</span>

            <p class="mt-3 fs-3 text-success">@priceFormat</p>

            <div class="align-items-center d-flex">
                <label class="pe-5" for="quantity">Quantity:</label>
                <div class="input-group" style="width: 130px;">
                    <button class="input-group-text" onclick="quantityMinus()"><i class="fa-light fa-minus"></i></button>
                    <input class="form-control fw-semibold" id="quantity" name="quantity" type="text" value="1">
                    <button class="input-group-text" onclick="quantityPlus()"><i class="fa-light fa-plus"></i></button>
                </div>
            </div>

            <p class="mt-3">@Model.Description</p>

            <button class="btn btn-secondary">Add to cart (Coming soon)</button>

        </div>
    </div>
</div>

@section Scripts {
    <script>
    function quantityPlus() {
        const quantity = $("#quantity");
        const curQuantity = quantity.val()
        quantity.val(+curQuantity + 1)
    }

    function quantityMinus() {
        const quantity = $("#quantity");
        const curQuantity = quantity.val()
        if (curQuantity > 1) {
            quantity.val(+curQuantity - 1)
        }
    }
    </script>
}