@model ShoppingCart

@{
    ViewData["Title"] = "Details";

    var priceFormat = $"{Model.Product.Price,0:C0}";
    var priceFormat50 = $"{Model.Product.Price50,0:C0}";
    var priceFormat100 = $"{Model.Product.Price100,0:C0}";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Details">
    <input asp-for="ProductId" type="hidden">
    <a asp-action="Index" class="btn btn-outline-primary my-3">Back to home</a>
    <div class="row">
        <div class="col-4">
            <div class="image-wrapper-details m-0 rounded">
                <img alt="@Model.Product.ImageUrl" src="~/images/product/@Model.Product.ImageUrl">
            </div>
        </div>
        <div class="col-7 offset-1">
            <h2 class="text-gradient">@Model.Product.Name</h2>
            <h5 class="mb-3">by @Model.Product.Author</h5>
            <span class="category-label">@Model.Product.Category!.Name</span>
            <span class="category-label">@Model.Product.CoverType!.Name</span>

            <div class="fw-semibold mt-3 row text-muted">
                <div class="col-3 pe-0">
                    <p class="border-bottom mb-0 pb-2">Quantity</p>
                </div>
                <div class="col-3 p-0">
                    <p class="border-bottom mb-0 pb-2">1-50</p>
                </div>
                <div class="col-3 p-0">
                    <p class="border-bottom mb-0 pb-2">51-100</p>
                </div>
                <div class="col-3 ps-0">
                    <p class="border-bottom mb-0 pb-2">100+</p>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-3 fs-3 text-success pe-0">
                    Price
                </div>
                <div class="col-3 fs-3 text-success p-0">
                    @priceFormat
                </div>
                <div class="col-3 fs-3 text-success p-0">
                    @priceFormat50
                </div>
                <div class="col-3 fs-3 text-success ps-0">
                    @priceFormat100
                </div>
            </div>


            <div class="align-items-center d-flex">
                <label asp-for="Quantity" class="fs-5 pe-5"></label>
                <div class="input-group" style="width: 130px;">
                    <a class="input-group-text text-decoration-none" onclick="quantityMinus()" style="cursor: pointer">
                        <i class="fa-light fa-minus"></i>
                    </a>
                    <input asp-for="Quantity" class="form-control fw-semibold" onblur="validateInput()">
                    <a class="input-group-text text-decoration-none" onclick="quantityPlus()" style="cursor: pointer">
                        <i class="fa-light fa-plus"></i>
                    </a>
                </div>
            </div>

            <p class="mt-3">@Model.Product.Description</p>

            <p>ISBN: @Model.Product.ISBN</p>

            <button class="button-gradient fw-semibold py-2 text-uppercase" type="submit">
                <i class="fa-solid fa-cart-plus me-2"></i>
                Add to cart
            </button>

        </div>
    </div>
</form>

@section Scripts {
    <script>
    const quantity = $("#Quantity");

    function quantityPlus() {
        const curQuantity = quantity.val()
        quantity.val(+curQuantity + 1)
    }

    function quantityMinus() {
        const curQuantity = quantity.val()
        if (curQuantity > 1) {
            quantity.val(+curQuantity - 1)
        }
    }

    function validateInput() {
        const curQuantity = quantity.val()

        if (curQuantity < 0)
            quantity.val(1)

        if (curQuantity > 999)
            quantity.val(999)
    }
    </script>
}