@model IEnumerable<Category>

@{
    ViewData["Title"] = "Category";
    ViewData["ControllerName"] = "Category";

    var index = 1;

    var pager = ViewBag.Pager != null? ViewBag.Pager : new Pager();

    var searchString = Context.Request.Query["s"];

    var successMessage = TempData["SuccessMessage"];

    var nameSortParam = ViewBag.NameSortParam;
    var displayOrderSortParam = ViewBag.DisplayOrderSortParam;
}

<h1>Category</h1>

<div class="d-flex justify-content-between">
    <p>List of categories</p>
    <div class="align-items-center d-flex">
        <form asp-action="Index" class="me-3" method="GET">
            <input class="form-control" id="search" name="s" placeholder="Search..." type="text" value="@searchString">
        </form>
        <a asp-action="Create" class="btn btn-primary text-decoration-none text-white">
            <i class="fa-plus fa-regular"></i> Add new category
        </a>
    </div>
</div>
<hr />

<table class="table table-bordered table-striped">
    <thead>
    <tr class="table-primary">
        <th scope="col">#</th>
        <th scope="col">
            Name
            <partial name="_partials/sortColumn" model="@nameSortParam"/>
        </th>
        <th scope="col">
            Display Order
            <partial name="_partials/sortColumn" model="@displayOrderSortParam"/>
        </th>
        <th scope="col">Created At</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model)
    {
        <tr class="category-item">
            <td>@index</td>
            <td>@category.Name</td>
            <td>@category.DisplayOrder</td>
            <td>@category.CreatedAt</td>
            <td style="width: 100px">
                <div class="d-flex">
                    <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning me-3">
                        <i class="fa-light fa-pencil"></i>
                    </a>

                    <button class="btn btn-danger delete-category" data-id="@category.Id">
                        <i class="fa-light fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>

        index++;
    }

    @if (!Model.Any())
    {
        <tr>
            <td class="text-center" colspan="5">No category found!</td>
        </tr>
    }
    </tbody>
</table>

<partial model="pager" name="_Pager" />

@section Scripts {
    <partial model="successMessage" name="_NotificationScriptsPartial" />
    <partial model="pager" name="_partials/deleteScript" />
}