@model Pager

@{
    var controllerName = ViewData["ControllerName"] ?? "Home";
    var searchString = Context.Request.Query["s"];
    var sortOrder = Context.Request.Query["sortOrder"];
}

@if (Model.TotalPages > 1)
{
    <nav aria-label="Page navigation" class="align-items-center d-flex flex-column">
        <ul class="justify-content-end pagination">

            <li class="page-item @(Model.CurrentPage > 1 ? "" : "disabled")">
                <a asp-action="Index" asp-controller="@controllerName" asp-route-page="1"
                    asp-route-s="@searchString" asp-route-sortOrder="@sortOrder" class="page-link">
                    <i class="fa-angles-left fa-light"></i>
                </a>
            </li>
            <li class="page-item @(Model.CurrentPage > 1 ? "" : "disabled")">
                <a asp-action="Index" asp-controller="@controllerName" asp-route-page="@(Model.CurrentPage - 1)"
                    asp-route-s="@searchString" asp-route-sortOrder="@sortOrder" class="page-link">
                    <i class="fa-angle-left fa-light"></i>
                </a>
            </li>

            @for (var page = Model.StartPage; page <= Model.EndPage; page++)
            {
                var currentPage = page;
                <li class="page-item @(currentPage == Model.CurrentPage ? "active" : "")">
                    <a asp-action="Index" asp-controller="@controllerName" asp-route-page="@currentPage"
                        asp-route-s="@searchString" asp-route-sortOrder="@sortOrder" class="page-link">@currentPage</a>
                </li>
            }

            <li class="page-item @(Model.CurrentPage < Model.TotalPages ? "" : "disabled")">
                <a asp-action="Index" asp-controller="@controllerName" asp-route-page="@(Model.CurrentPage + 1)"
                    asp-route-s="@searchString" asp-route-sortOrder="@sortOrder" class="page-link">
                    <i class="fa-angle-right fa-light"></i>
                </a>
            </li>
            <li class="page-item @(Model.CurrentPage < Model.TotalPages ? "" : "disabled")">
                <a asp-action="Index" asp-controller="@controllerName" asp-route-page="@(Model.TotalPages)"
                    asp-route-s="@searchString" asp-route-sortOrder="@sortOrder" class="page-link">
                    <i class="fa-angles-right fa-light"></i>
                </a>
            </li>
        </ul>
        <span class="small text-secondary">@Model.DisplayStartItem-@Model.DisplayEndItem of @Model.TotalItems items</span>
    </nav>
}