@model ProductDto

@{
    ViewData["Title"] = "Edit";
}

<section class="bg-body-tertiary mt-4 pb-3 rounded-bottom shadow-lg">
    <h1 class="bg-gradient bg-secondary px-3 py-4 rounded-top text-center">
        @(Model.Product.Id != 0 ? "Update" : "Create")
        Product
    </h1>

    <div class="d-flex justify-content-end px-4 py-2">
        <a asp-action="Index" class="btn btn-primary text-decoration-none text-white">
            <i class="fa-arrow-left-to-line fa-regular"></i> Back to product list
        </a>
    </div>

    <div class="p-4 row">
        <div class="border @(Model.Product.Id != 0 ? "col-10" : "col-12") py-3">
            <form asp-action="Upsert" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Product.Id" type="hidden" />
                <div class="form-group mb-3">
                    <label asp-for="Product.Name" class="form-label"></label>
                    <input asp-for="Product.Name" class="form-control" />
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Product.Author" class="form-label"></label>
                    <input asp-for="Product.Author" class="form-control" />
                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Product.ISBN" class="form-label"></label>
                    <input asp-for="Product.ISBN" class="form-control" />
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Product.Price" class="form-label"></label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Product.Price50" class="form-label"></label>
                    <input asp-for="Product.Price50" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Product.Price100" class="form-label"></label>
                    <input asp-for="Product.Price100" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Product.Description" class="form-label"></label>
                    <textarea asp-for="Product.Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Product.CategoryId" class="form-label"></label>
                    <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-control">
                        <option value="">-- Select category --</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Product.CoverTypeId" class="form-label"></label>
                    <select asp-for="Product.CoverTypeId" asp-items="@Model.CoverTypeList" class="form-control">
                        <option value="">-- Select cover type --</option>
                    </select>
                    <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Product.ImageUrl" class="form-label"></label>
                    <input class="form-control" name="file" type="file" accept="image/*">
                    <input asp-for="Product.ImageUrl" type="hidden">
                </div>

                <div class="d-flex form-group justify-content-center mt-5">
                    <input class="btn btn-primary text-white" style="width: 10rem" type="submit" value="@(Model.Product.Id != 0 ? "Update" : "Create")" />
                </div>
            </form>
        </div>
        @if (Model.Product.Id != 0)
        {
            <div class="col-2 text-center">
                <img alt="Current product image" class="img-fluid" src="~/images/product/@Model.Product.ImageUrl">
                <span class="fst-italic text-muted">Current image</span>
            </div>
        }

    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}