@{
    var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
    var qsPath = ViewContext.HttpContext.Request.QueryString.Value;
    var returnUrl = $"{routeUrl}{qsPath}";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/css/sweetalert2.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.3.0/css/all.css">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
</head>
<body data-bs-theme="dark" class="d-flex flex-column min-vh-100">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3 navbar-gradient-bg" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fa-light fa-fish"></i> Cuti<b>Shork</b>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link @(returnUrl == "/" ? "active": "")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(returnUrl.Contains("/Privacy") ? "active": "")" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>

                    @if (User.IsInRole(SD.RoleAdmin))
                    {
                        <li class="nav-item">
                            <a class="nav-link @(returnUrl.Contains("/Category") ? "active": "")" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(returnUrl.Contains("/Product") ? "active": "")" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link @(returnUrl.Contains("/Cart") ? "active" : "")" asp-area="" asp-controller="Cart" asp-action="Index">
                            <i class="fa-light fa-cart-shopping"></i> (0)
                        </a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>

<div class="container flex-grow-1">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/js/jquery-3.7.1.min.js"></script>
<script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
<script src="~/js/sweetalert2.all.min.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>